@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Jua";
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  background: none;
  margin: 8px 0;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bbbbbb;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
}

.color-box {
  @apply w-12 h-12 rounded-full  cursor-pointer;
}

.text-vertical {
  @apply rotate-180 text-xl;
  writing-mode: vertical-lr;
}